doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    style.
        html {
            background:url('http://i.imgur.com/5Lvc4E6.jpg') center center no-repeat;
            background-size: cover;
            min-height: 100%;
        }
        body {
            min-height: 100%;
            text-align: center;
            color: #fff;
        }
  body
    block content
